#content.contact {
    & form {
        width: 30%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        & input,
          textarea {
            background-color: var(--pink-dark);
        }

        & input {
            padding: 0.3rem;
        }
    }
}