#content.home {

    gap: 8rem;

    & img {
        width: 25rem;
        height: 25rem;
    }

    & .welcome {
        align-self: center;

        & h1 {
            font-size: 3rem;

            & p {
                margin: 0;
            }
        }

        & span {
            color: var(--pink);
        }
    }
}