@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import './css/home.css';
@import './css/menu.css';
@import './css/contact.css';
@import './css/about.css';

:root {
    --bkg-clr: #2F293D;
    --pink: #FF9595;
    --pink-light: #FFDDDD;
    --pink-dark: #D49C9C;
}

body {
    margin: 0;
    padding: 2rem 2.5rem;
    background-color: var(--bkg-clr);
    user-select: none;

    font-family: 'Inter';
    color: var(--pink-light);
}

li {
    list-style: none;
}

button,
input,
textarea {
    appearance: none;
    border: none;
    outline: none;
}

button {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 9px;
    background-color: var(--pink);
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: var(--pink);
}

.flex {
    display: flex;

    &.jc-sb {
        justify-content: space-between;
    }

    &.jc-fe {
        justify-content: flex-end;
    }
}

header {
    font-weight: bold;

    & nav {
        gap: 1.2rem;
        font-weight: lighter;
    }
}

footer {
    & .social {
        gap: 0.8rem;

        & img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

#content {
    padding: 2rem 0;
}